body {
	margin: 0;
}

#music-box-app {
	text-align: center;
}

.music-box {
	margin: 0 5px;
}

.music-box-controls {
	background: white;
	text-align: center;
	position: sticky;
	top: 0;
	padding: 5px 0;
	z-index: 1;
}

.music-box-tempo-controls {
	text-align: left;
	float: left;
}

.music-box-tempo-controls input {
	border: 0;
	width: 50px;
}

.music-box-controls-spacer {
	float: right;
	height: 1px;
}

.music-box-tempo-controls, .music-box-controls-spacer {
	width: 150px;
}

.play-pause-button {
	width: 60px;
}

.music-box-controls > div {
	display: inline-block;
}

.music-box-editor {
	font-size: 10px;
	overflow: auto;
	margin-bottom: 20px;
}

.music-box-editor th, .music-box-editor td:nth-child(2):hover, .new-note-column-marker {
	background: #ddd;
}

.music-box-editor, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.music-box-editor tbody td:nth-child(2) {
	width: 100%;
	overflow: hidden;
}

.music-box-editor tbody td:nth-child(2) div {
	display: inline-block;
	width: 10px;
}

.music-box-editor-score {
	position: relative;
}

.music-box-editor-score div {
	position: absolute;
	height: 100%;
	top: 0;
}

.beat-marker {
	background: blue;
}

.note {
	background: green;
}

.new-note-marker {
	background: orange;
}