body {
	background: gray;
	margin: 0;
}

*:focus {
	outline: none;
}

.hide-in-plain-sight {
	opacity: 0;
}

#music-box-app {
	position: relative;
	text-align: center;
}

.music-box-controls {
	background-image: radial-gradient(#ccc, #ddd);
	text-align: center;
	position: sticky;
	top: 0;
	padding: 5px 0;
	border-bottom: 1px solid black;
	z-index: 1;
}

.music-box-controls > div {
	vertical-align: middle;
}

.music-box-tempo-controls > div {
	display: inline-block;
	text-align: left;
	font-size: 12px;
}

.music-box-tempo-controls > div > label {
	display: block;
}

.music-box-tempo-controls > div > input {
	background: 0;
	border: 0;
	width: 50px;
	border-radius: 5px;
}

.music-box-tempo-controls > div > input:not(:disabled):hover, .music-box-tempo-controls > div > input:focus {
	background: white;
}

.music-box-controls .pause-button:not(:disabled) {
	background: purple;
	border-color: purple;
	color: white;
}

.music-box-controls .play-button:not(:disabled) {
	background: green;
	border-color: green;
	color: white;
}

.music-box-controls .stop-button:not(:disabled) {
	background: red;
	border-color: red;
	color: white;
}

.play-button, .pause-button, .stop-button {
	width: 60px;
}

.music-box-controls > div {
	display: inline-block;
}

.music-box-controls .music-box-player-controls {
	margin: 0 50px;
}

button {
	background: #f4f4f4;
	border-radius: 50%;
}

.music-box-editor-container {
	padding: 10px 10px 20px;
}

.music-box-editor {
	background: #f8f8f8;
	font-size: 10px;
	overflow: auto;
}

.music-box-editor th, .new-note-tick-marker {
	background: #ddd;
}

.music-box-editor tr:hover td {
	background: #ccc;
}

.music-box-editor tr:hover th {
	background: #aaa;
}

.music-box-editor, .music-box-editor th, .music-box-editor td {
	border: 1px solid black;
	border-collapse: collapse;
}

.music-box-editor tbody td:nth-child(2) {
	width: 100%;
	overflow: hidden;
}

.music-box-editor tbody td:nth-child(2) div {
	display: inline-block;
	width: 10px;
}

.music-box-editor-row.a4 .music-box-editor-tone {
	background: #0eb;
}

.music-box-editor-row.c td, .music-box-editor-row.c th, .music-box-editor-row.c4 td, .music-box-editor-row.c4 th {
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.music-box-editor-row.c .music-box-editor-tone {
	background: #0be;
}

.music-box-editor-row.c4 .music-box-editor-tone {
	background: black;
	color: white;
}

.music-box-editor-score {
	position: relative;
}

.music-box-editor-score div {
	position: absolute;
	height: 100%;
	top: 0;
}

.tick-marker {
	background: blue;
}

.music-box-editor-note {
	background: green;
	border-radius: 100%;
}

tr.music-box-editor-row.being-played th.music-box-editor-tone, tr.music-box-editor-row.being-played .music-box-editor-note.being-played {
	background: gold;
	color: black;
}

.new-note-marker {
	background: orange;
}

.modal-root, .modal, .modal .backdrop {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.modal-root {
	height: 100%;
	z-index: 2;
}

.modal-sticker {
	position: sticky;
	top: 0;
}

.modal, .modal .backdrop {
	height: 100vh;
}

.modal .backdrop {
	background: black;
	opacity: .5;
}

.modal .display-container {
	background: white;
	max-height: 80%;
	max-width: 50%;
	display: inline-block;
	border-radius: 10%;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50vh;
	left: 50vw;
}

.modal .display-container .header {
	position: relative;
	padding: 10px 50px;
	border-radius: 10px 10px 0 0;
	text-transform: uppercase;
}

.modal .display-container .header .close-button {
	position: absolute;
	background: 0;
	border: 0;
	border-radius: 100%;
	top: 5px;
	right: 5px;
}

.modal .display-container .header .close-button:hover {
	background-image: radial-gradient(#E62922 50%, white);
	color: white;
}

.modal .display-container .body {
	background: #f8f8f8;
	padding: 20px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	overflow: auto;
}

.modal .display-container .footer {
	padding: 5px 0;
	border-radius: 0 0 10px 10px;
}

.modal .display-container .header, .modal .footer {
	background-image: radial-gradient(#ccc, #ddd);
}

.projects-modal-body .projects-modal-body-project input {
	background: 0;
	border: 0;
}

.projects-modal-body .projects-modal-body-project:hover input {
	background: initial;
	border: initial;
}

.projects-modal-body .projects-modal-body-project tr {
	padding: 10px;
}

.projects-modal-body .projects-modal-body-project td:nth-child(1) {
	white-space: nowrap;
}

.projects-modal-body .projects-modal-body-project td:nth-child(2) {
	text-align: right;
}

.projects-modal-body .projects-modal-body-project .close-button {
	background: red;
	border-color: red;
	color: white;
}

.projects-modal-body .projects-modal-body-project .activate-button {
	background: green;
	border-color: green;
	color: white;
}

.projects-modal-body .projects-modal-body-project .active-check-mark {
	color: green;
}