<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type='text/css' href='css/styles.css'>

	<script src='js/header.js'></script>
	<script src='js/Vue/vue.js'></script>
</head>
<body>
	<div id='music-box-app'>
		<title v-text=title></title>

		<div v-if=notSecure>
			Redirecting you to <a :href=secureHref ref=secureLink></a>
		</div>

		<music-box
			v-if=audioContext
			@add-project=makeProject
			@import-project=importProject
			@activate-project=activateProject
			@add-part=addPart
			@open-project-modal=openProjectModal
			@close-project=closeProject
			@export-project=exportProject
			@select-tone-set=selectToneSet
			:projects=projects
			:active-project=activeProject
			:tones=tones
			:has-modals=hasModals
			:tone-set-options=toneSetOptions></music-box>

		<modal-root
			@emit=emitReceived
			@custom-button-clicked=customButtonClicked
			:modals=modals></modal-root>
	</div>

	<!-- Models -->
	<script src='js/Models/Tone.js'></script>
	<script src='js/Models/Note.js'></script>
	<script src='js/Models/Sounder.js'></script>
	<script src='js/Models/Instrument.js'></script>
	<script src='js/Models/Part.js'></script>
	<script src='js/Models/Project.js'></script>

	<!-- Generic Components -->
	<script src='js/Vue/InstrumentSelect.js'></script>
	<script src='js/Vue/Modal.js'></script>
	<script src='js/Vue/ModalRoot.js'></script>

	<!-- Components -->
	<script src='js/Vue/MusicBoxTempoControls.js'></script>
	<script src='js/Vue/MusicBoxPlayerControls.js'></script>
	<script src='js/Vue/MusicBoxControls.js'></script>
	<script src='js/Vue/MusicBoxEditorNote.js'></script>
	<script src='js/Vue/MusicBoxEditorRow.js'></script>
	<script src='js/Vue/MusicBoxEditor.js'></script>
	<script src='js/Vue/Commander.js'></script>
	<script src='js/Vue/MusicBox.js'></script>
	<script src='js/Vue/ProjectModal.js'></script>
	<script src='js/Vue/ProjectsModal.js'></script>
	<script src='js/Vue/CustomInstrumentModal.js'></script>
	<script src='js/Vue/MusicBoxSidebarPart.js'></script>
	<script src='js/Vue/MusicBoxSidebarProject.js'></script>
	<script src='js/Vue/MusicBoxSidebarNote.js'></script>
	<script src='js/Vue/MusicBoxSidebar.js'></script>
	<script src='js/Vue/MusicBoxApp.js'></script>
</body>
</html>